.board-square {
    position: fixed;
    bottom: 5%;
    width: 63%;
    left: 2%;
  }
  
.users {
  left: 2%;
  top: 10%;
  position: fixed;
  max-width: 56%;
  max-height: 60%;
  overflow: auto;
}

.player-card {
  border-radius: 10px;
  height: 100px;
  width: 70px;
  margin: 25px;
  border-color: black;
  border: thick double #32a1ce;
  text-align: center;
  
}

.player-delete {
  visibility: hidden;
}

/* .player-component:hover .player-delete {
  visibility: visible;
} */

.player-card span{
  margin-top: 50%;
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
}

.player-name {
  text-align: center;
}

.board-el {
  margin: 5px;
  width: 8%;
  height: 100px;
}

.player-component {
  display: inline-block;
  font-size: large;
}

.player-reveal {
  position: fixed;
  bottom: 20%;
  left: 20%;
  width: 20%;
}

.right {
  bottom: 0%;
  width: 40%;
  right: 0%;
  height: 100%;
  position: fixed;
  background: rgba(211,211,211, 0.3);
}

.tasks-total {
  width: 38%;
  position: fixed;
  right: 1%;
  top: 5%;
}

.tasks {
  overflow: auto;
  max-height: 85%;
  position: fixed;
  width: 38%;
  top: 10%
}

.parentDisable {
  position: fixed;
  background: #000;
  opacity: 0.9;
  z-index: 1;
  height: 100%;
  width: 100%;
}

#popup  {
  position: absolute;
  z-index: 2;
}

.rooms {
  position: fixed;
  left: 3%;
  overflow: auto;
  width: 100%;
  font-size: 24px;
  top: 25%;
}

table, th, td {
  border:1px solid black;
}

:root {
  --color-bg: #2C2C32;
  --color-active: #0f7dc6;
}

header {
  background-color: var(--color-bg);
  padding: 1.5rem 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}
header > a {
  color: white;
  text-decoration: none;
  padding: 0 1rem;
}
header > a:hover {
  text-decoration: underline;
}

h1 {
  text-align: center;
  margin-top: 0;
}
main {
  min-height: calc(100vh - 85px - 22px);
  padding-top: 1.5rem;
}

main a {
  text-decoration: none;
  font-style: italic;
}
main a:hover {
  text-decoration: underline;
}

.active {
  color: var(--color-active);
  cursor: default;
}

.container-footer {
  font-size: large;
  position: fixed;
  bottom: 0%;
  left: 45%;
  width: 100%;
}
.loginBackground{
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.8;
    height: 100%;
    width: 100%;
}