.board-square {
    position: fixed;
    bottom: 10%;
    width: 50%;
    left: 1%;
  }
  
.players {
  margin-left: 1%;
}

.player-card {
  border-radius: 10px;
  height: 100px;
  width: 70px;
  margin: 5px;
  background: content-box radial-gradient(lightgreen, skyblue);;
  border-color: black;
  border: thick double #32a1ce;
  text-align: center;
  
}

.player-card span{
  margin-top: 50%;
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
}

.player-name {
  text-align: center;
}

.board-el {
  margin: 5px;
  width: 50px;
  height: 50px;
}

.player-component {
  display: inline-block;
  font-size: large;
}

.player-reveal {
  margin-top: 1%;
  margin-left: 1%;
}

.tasks {
  width: 30%;
  position: fixed;
  right: 1%;
  top: 10%;
}

.parentDisable {
  position: fixed;
  background: #000;
  opacity: 0.9;
  z-index: 1;
  height: 100%;
  width: 100%;
}

#popup{
  position: absolute;
  z-index: 2;}